// Put any @imports here
// See Readme for a list of supported ones

$ourRed: #970D00;

body {
  background: $ourRed;
  color: white;
  button{
    background: $ourRed;
    border: none;
    border-radius: 25px;
  }
  input{
    color: black;
  }
}
