<h3>{{vm.title}}</h3>

<h3>Please complete all fields</h3>

<div>
  <form>
    <input placeholder='Name'>
    <input placeholder='Address'>
    <input placeholder='Phone' type="tel">
    <input placeholder='Email' type="email">
    <input placeholder='Website' type="url">
    <input placeholder='Bio'>
    <input placeholder='Age'>
    <input placeholder='Feet'>
    <input placeholder='Inches'>
    <select>
      <option value="Blonde">blonde</option>
      <option value="Brown">Brown</option>
      <option value="Hazel">Hazel</option>
      <option value="Grey">Grey</option>
      <option value="Black">Black</option>
      <option value="Red">Red</option>
      <option value="White">White</option>
      <option value="Other">Other</option>
      <option value="None">None</option>
    </select>
    <select>
      <option value="Blue">Blue</option>
      <option value="Brown">Brown</option>
      <option value="Hazel">Hazel</option>
      <option value="Green">Green</option>
      <option value="Black">Black</option>
      <option value="Grey">Grey</option>
      <option value="Purple">Purple</option>
    </select>
    <input placeholder='Skills'>
    <select placeholder='Gender'>
      <option value="Male">Male</option>
      <option  value="Female">Female</option>
    </select>
    <select>
      <option value="Black/African American">Black/African American</option>
      <option value="Hispanic/Latino">Hispanic/Latino</option>
      <option value="Asian/Pacific Islander">Asian/Pacific Islander</option>
      <option value="White/Caucasian">White/Caucasian</option>
      <option value="American Indian/Alaskan Native">American Indian/Alaskan Native</option>
      <option value="Other">Other</option>
    </select>
    <input placeholder='Talent Agency'>
    <input type='checkbox' value="Equity">Equity
    <input type='checkbox' value="AFTRA">AFTRA
    <input type='checkbox' value="SAG">SAG
    <input type='checkbox' value="IATSE">IATSE
    <input type='checkbox' value="SSDC">SSDC
    <input type='checkbox' value="DGA">DGA
    <input type='checkbox' value="AGMA">AGMA
    <button>Submit</button>
  </form>
</div>