<h3>{{vm.title}}</h3>

<h3>Please complete all fields</h3>

<div>
  <form>
    <input placeholder='Name'>
    <input placeholder='Address'>
    <input placeholder='Phone' type="tel">
    <input placeholder='Email'>
    <input placeholder='Website' type="url">
    <input placeholder='Bio'>
    <input placeholder='Age'>
    <input placeholder='Feet'>
    <input placeholder='Inches'>
    <select placeholder='Hair Color'>
      <option value="Black">Black</option>
      <option value="Brown">Brown</option>
      <option value="Blonde">Blonde</option>
      <option value="Red">Red</option>
      <option value="Grey">Grey</option>
      <option value="White">White</option>
      <option value="Bald">Bald</option>
    </select>
    <select placeholder='Eye Color' type="select">
      <option>Blue</option>
      <option>Brown</option>
      <option>Green</option>
      <option>Black</option>
      <option>Grey</option>
    </select>
    <input placeholder='Skills'>
    <input placeholder='Gender'>
    <input placeholder='Ethnicity'>
    <input placeholder='Talent Agency'>
    <input placeholder='Union'>
    <button>Submit</button>
  </form>
</div>