<h3>{{vm.title}}</h3>

<h3>Please complete all fields</h3>

<div>
  <form>
    <input placeholder='Name'>

    <input placeholder='Address'>

    <input placeholder='Phone' type="tel">

    <input placeholder='Email' type="email">

    <input placeholder='Website' type="url">

    <input placeholder='Bio'>

    <input placeholder='Age'>

    <input placeholder='Feet'>

    <input placeholder='Inches'>

    <select>
      <option value="Blonde">blonde</option>
      <option value="Brown">Brown</option>
      <option value="Hazel">Hazel</option>
      <option value="Grey">Grey</option>
      <option value="Black">Black</option>
      <option value="Red">Red</option>
      <option value="White">White</option>
      <option value="Other">Other</option>
      <option value="None">None</option>
    </select>

    <select>
      <option value="Blue">Blue</option>
      <option value="Brown">Brown</option>
      <option value="Hazel">Hazel</option>
      <option value="Green">Green</option>
      <option value="Black">Black</option>
      <option value="Grey">Grey</option>
      <option value="Purple">Purple</option>
    </select>

    <select placeholder='Gender'>
      <option value="Male">Male</option>
      <option  value="Female">Female</option>
    </select>

    <select>
      <option value="Black/African American">Black/African American</option>
      <option value="Hispanic/Latino">Hispanic/Latino</option>
      <option value="Asian/Pacific Islander">Asian/Pacific Islander</option>
      <option value="White/Caucasian">White/Caucasian</option>
      <option value="American Indian/Alaskan Native">American Indian/Alaskan Native</option>
      <option value="Other">Other</option>
    </select>

    <input placeholder='Talent Agency'>

    <p>Union</p>
    <input type='checkbox' value="Equity">Equity
    <input type='checkbox' value="AFTRA">AFTRA
    <input type='checkbox' value="SAG">SAG
    <input type='checkbox' value="IATSE">IATSE
    <input type='checkbox' value="SSDC">SSDC
    <input type='checkbox' value="DGA">DGA
    <input type='checkbox' value="AGMA">AGMA

    <p>Skills</p>
    <input type='checkbox' value="Accompanist">Accompanist
    <input type='checkbox' value="Acting Instructor">Acting Instructor
    <input type='checkbox' value="Actor">Actor
    <input type='checkbox' value="Administrator">Administrator
    <input type='checkbox' value="Artistic Director">Artistic Director
    <input type='checkbox' value="Board Operator">Board Operator
    <input type='checkbox' value="Bookkeeper/Accounting">Bookkeeper/Accounting
    <input type='checkbox' value="Carpenter">Carpenter
    <input type='checkbox' value="Choreographer">Choreographer
    <input type='checkbox' value="Composer">Composer
    <input type='checkbox' value="Costume Designer">Costume Designer
    <input type='checkbox' value="Dance Instructor">Dance Instructor
    <input type='checkbox' value="Dancer">Dancer
    <input type='checkbox' value="Development/Fundraising">Development/Fundraising
    <input type='checkbox' value="Dialect Coach">Dialect Coach
    <input type='checkbox' value="Director">Director
    <input type='checkbox' value="Dramaturg">Dramaturg
    <input type='checkbox' value="Educator">Educator
    <input type='checkbox' value="Fight Choreographer">Fight Choreographer
    <input type='checkbox' value="Front of House/Box Office">Front of House/Box Office
    <input type='checkbox' value="Graphic Designer">Graphic Designer
    <input type='checkbox' value="Hair/Makeup/Wig Artist">Hair/Makeup/Wig Artist
    <input type='checkbox' value="Improv Artist">Improv Artist
    <input type='checkbox' value="Lighting Designer">Lighting Designer
    <input type='checkbox' value="Literary Manager">Literary Manager
    <input type='checkbox' value="Managing Director">Managing Director
    <input type='checkbox' value="Marketing">Marketing
    <input type='checkbox' value="Model">Model
    <input type='checkbox' value="Multimedia Specialist">Multimedia Specialist
    <input type='checkbox' value="Music Director">Music Director
    <input type='checkbox' value="Musician">Musician
    <input type='checkbox' value="Painter/Scenic Artist">Painter/Scenic Artist
    <input type='checkbox' value="Photographer">Photographer
    <input type='checkbox' value="Playwright">Playwright
    <input type='checkbox' value="Producer">Producer
    <input type='checkbox' value="Production Manager">Production Manager
    <input type='checkbox' value="Prop Artisan">Prop Artisan
    <input type='checkbox' value="Public Relations">Public Relations
    <input type='checkbox' value="Puppeteer">Puppeteer
    <input type='checkbox' value="Scenic Designer">Scenic Designer
    <input type='checkbox' value="Screenwriter">Screenwriter
    <input type='checkbox' value="Sign Interpreter">Sign Interpreter
    <input type='checkbox' value="Singer">Singer
    <input type='checkbox' value="Sound Designer">Sound Designer
    <input type='checkbox' value="Sound Technician">Sound Technician
    <input type='checkbox' value="Special Effects/Pyrotechnics">Special Effects/Pyrotechnics
    <input type='checkbox' value="Stage Combatant">Stage Combatant
    <input type='checkbox' value="Stage Manager">Stage Manager
    <input type='checkbox' value="Student">Student
    <input type='checkbox' value="Technical Director">Technical Director
    <input type='checkbox' value="Translator">Translator
    <input type='checkbox' value="Video/Film Editor">Video/Film Editor
    <input type='checkbox' value="Videographer">Videographer
    <input type='checkbox' value="Vocal Coach">Vocal Coach
    <input type='checkbox' value="Voice Talent">Voice Talent
    <input type='checkbox' value="Volunteer or Board">Volunteer or Board
    <input type='checkbox' value="Web Designer">Web Designer
    <input type='checkbox' value="Writer">Writer

    <button>Submit</button>

  </form>
</div>