<h1>{{vm.title}}</h1>


<div class="main login">
  <h3 class="login-header">Go to my account</h3>
  <form ng-submit="vm.login(user)">
    <input type="email" placeholder="Email" ng-model="user.email">
    <br>
    <input type="password" placeholder="password" ng-model="user.password">
    <br>
    <button class="mainbtn">Login</button>
  </form>
</div>


<div class="main register">
  <h3 class="register-header">Sign up for a new account</h3>
  <form ng-submit="vm.signup(newuser)">
    <input placeholder="Full Name" ng-model="newuser.full_name">
    <br>
    <input type="email" placeholder="Email" ng-model="newuser.email">
    <br>
    <input placeholder="password" ng-model="newuser.password">
    <br>
    <button class="mainbtn">Register</button>
  </form>
</div>