<h3>{{vm.title}}</h3>

<hr>

<div class="login">
  <h3 class="login-header">Login</h3>
  <form ng-submit="vm.login(user)">
    <input placeholder="Email" ng-model="user.email">
    <br>
    <input type="password" placeholder="password" ng-model="user.password">
    <br>
    <button>Login</button>
  </form>
</div>

<hr>

<div class="register">
  <h3 class="register-header">Register</h3>
  <form>
    <input placeholder="Full Name">
    <br>
    <input placeholder="Email">
    <br>
    <input placeholder="password">
    <br>
    <button>Register</button>
  </form>
</div>