<div class="layoutbar"></div>
<button class="layoutbtn" ng-click="vm.logmeout()">Logout</button>

<button class="layoutbtn" ng-click="vm.editmyprofile()">Edit My Profile</button>

<button class="layoutbtn" ng-click="vm.gohome()">Home</button>

<button class="layoutbtn" ng-click="vm.goprofile()">My Profile</button>

<button class="layoutbtn" ng-click="vm.search()">Search</button>
<div class="layoutbar"></div>
<!-- <button ng-click="vm.goact()">Actor Info</button> -->

<section class="container" ui-view></section>